<div class="expense" data-rev="{{rev}}" data-id="{{id}}">
  <input class="chargeExpense" type="checkbox" {{isCharged this}}/>
  <span class="nameLabel">{{name}}</span>
  $<span class="amountLabel">{{amount}}</span>
</div>
