<h4>Welcome to HabitBounty</h4>
{{#if error}}<h6>{{error}}</h6>{{/if}}
  <h5>Your balance is: $<span id="balance">{{balance}}</span></h5>
  {{#if habits}}
    <h5>Your habits:</h5>
      {{#each habits}}
    <div class="row">
        <div class="column">
          <input class="completeHabit" type="checkbox" value="{{id}}"
           {{isComplete this}}/>
          {{name}} ${{reward}}
          <button class="button button-clear editHabit">Edit</button>
          <!-- TODO: Move style to a CSS file -->
          <form style="display:none;" data-habitid="{{id}}">
            <fieldset>
              <label>Name</label>
              <input class="nameField" type="text" required>
              <label>Reward</label>
              <input class="rewardField" type="number" min="0" step="0.05"
               required>
              <button class="button button-outline cancel">Cancel</button>
              <input class="button submitHabit" value="Submit" type="Submit">
            </fieldset>
          </form>
        </div>
    </div>
      {{/each}}
  {{/if}}
