<h4>Welcome to HabitBounty</h4>


{{#if error}}<h6>{{error}}</h6>{{/if}}

<select id="date" name="date" style="width:40%"> </select>

<h5>Your balance is: $<span id="balance">{{balance}}</span></h5>
<button class="button button-clear" id="changeBalance">Edit</button>
<form style="display:none;" id="balanceForm">
  <fieldset>
    <label>Change Balance By</label>
    <input name="delta" value="1" type="number" step="0.01">
    <button class="button button-outline cancel">Cancel</button>
    <input class="button" value="Submit" type="Submit">
  </fieldset>
</form>


<div class="row">
  <div class="column">
    {{#if habits}}
    <h5>Your habits</h5>
    <h6><span id="habitsLeft">{{habitsLeft}}</span> left for the day</h6>
    {{#each habits}}
    {{> habitForm}}
    {{/each}}
    {{/if}}

    <button class="button" id="createHabit">Create Habit</button>
    <form style="display:none;" id="createHabitForm">
      <fieldset>
        <label>Name</label>
        <input name="name" type="text" value="{{name}}" required>
        <label>Reward</label>
        <input name="amount" type="number" min="0.01" step="0.01"
                                                      value="{{amount}}" required>
        <button class="button button-outline cancel">Cancel</button>
        <input class="button" value="Submit" type="Submit">
      </fieldset>
    </form>
  </div>

  <div class="column">
    {{#if expenses}}
    <h5>Your expenses:</h5>
    {{#each expenses}}
    {{> expenseForm}}
    {{/each}}
    {{/if}}
    <button class="button" id="createExpense">Create Expense</button>
    <form style="display:none;" id="createExpenseForm">
      <fieldset>
        <label>Name</label>
        <input name="name" type="text" value="{{name}}" required>
        <label>Amount</label>
        <input name="amount" type="number" min="0.01" step="0.01"
                                                      value="{{amount}}" required>
        <button class="button button-outline cancel">Cancel</button>
        <input class="button" value="Submit" type="Submit">
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="column">
    {{#if chores}}
    <h5>Your chores</h5>
    {{#each chores}}
    {{> choreForm}}
    {{/each}}
    {{/if}}

    <button class="button" id="createChore">Create Chore</button>
    <form style="display:none;" id="createChoreForm">
      <fieldset>
        <label>Name</label>
        <input name="name" type="text" value="{{name}}" required>
        <label>Reward</label>
        <input name="amount" type="number" min="0.01" step="0.01"
                                                      value="{{amount}}" required>
        <button class="button button-outline cancel">Cancel</button>
        <input class="button" value="Submit" type="Submit">
      </fieldset>
    </form>
  </div>
</div>
